<% if current_user %>
  <% if @lesson %>
    <div>
      <h4 class="text-center">You have <%= @remaining_lessons.count %> lessons remaining</h4>
      <p class="text-center">Click on the student you would like to assign to this time slot</p>
      <div class="alert alert-warning text-center" role="alert"><%= @time_slot.start_at.strftime('%b %d, %Y at %I:%M %p') %></div>
      <div class="StudentButtonContainer">
        <% @students.each do |student| %>
          <div class="StudentButton">
            <%= link_to student.first_name, assign_student_to_time_slot_path(params: { time_slot_id: @time_slot.id, student_id: student.id }), method: :post, class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
      </div>
      <button type="button" class="btn btn-link btn-block" data-dismiss="modal">cancel</button>
    </div>
  <% else %>
    <div>
      <h4 class="text-center">You have 0 lessons remaining</h4>
      <p class="text-center">You need to purchase more time slots if you would like to assign more lessons.</p>
      <a href="/our_lessons" class="btn btn-warning btn-lg btn-block">Buy More Lessons</a>
    </div>
  <% end %>
<% else %>
  <div>
    <h4 class="text-center">You must be logged in</h4>

    <div class="text-center">
      <a href="/users/sign_in" class="btn btn-lg btn-primary">Log In</a>
    </div>
  </div>
<% end %>
