<% content_for(:title) do %>Terms &amp; Policies<% end %>

<section class="title-bar">
  <h1>Terms &amp; Policies</h1>
</section>

<div class="container" style="margin-bottom: 40px;">
  <p>
    I'd like to take the opportunity to thank you for coming and participating in one of the most important life skills you can give your child. Here in Utah, drowning is the leading cause of death for children. My goal is to teach as many of our children these lifesaving skills, as early as possible. I'd like to start this training as early as 3 months old. Ask what you can do prior to that age for the best possible results. Bath times will assist tremendously by laying the child down in the water and allowing water to go into their ears every day.  Just enough water to cover their ears is plenty.
  </p>

  <h3>POLICIES:</h3>

  <p>
    If this is your first time coming, sometimes children have trouble with separation. If they cry and keep calling for you, the instructor will tell them that mom has to go, but will be back at the end of the lesson. That will be your cue to go and hide so they can't see you. It's easier for you and your child to just leave for a few days. I also try several options to get them use to water in their face. It is critical for good swimming that they get over the fear of water in their face as quickly as possible. The first day will be a "play" day unless your child deserves to learn respect of the water quicker, then we'll start right into back floats.  It is your job to let the instructor know to go slow if they are they type of child that needs consistency and trust someone before they do anything.  You can assist us by going home and practicing in the tub, face down blowing bubbles to go faster with lessons. This is key to successful swimming skill. Again, this usually only takes a few days to transition into a smooth lesson.
  </p>

  <p>
    <strong>NO SHOWS:</strong> I need to have a 24 hour notice if you will not be able to make your appointment. If not, it is considered a no-show and you will be charged a lesson. If we are in an outdoor pool, then we have you call before coming if there is lightning and thunder.  The weather changes fast here in Utah. Even if you have thunder and lightning where you are, many times I do not. Call before to find out if lessons are cancelled. My time is valuable, as is yours, and I can probably fill the slot with enough notice. The sooner you know your schedule and let me know the better for both of us. Also, it is only a 20 min lesson, so please show up 5 mins early to get ready for your lesson. You may stay a few minutes afterwards, if the pool permits it, to do any skills we have assigned. Please be considerate of others when it is not your time in the pool. Siblings are encouraged to come, but they need to obey the pool rules, or they will not be allowed in the pool. Also, if you have children in the pool who can't swim, please watch them carefully, because we are busy with your child or others and can't watch them. If we have 3 lanes schedules there is no free swim.
  </p>

  <p>
    <strong>PAYMENT:</strong> Everything is done on line, so create an account, purchase lessons and then schedule them with whomever you wish.  We like to see them everyday for 2 weeks to start with.  Most kids will deserve about 20 lessons before you can move them into a maintenance program coming a few times a week.  We like to be sure they are solid on all their safety skills before we slow down with the child.  These lessons are good for a year.  The lessons are non-refundable, but all of them can be transferred <em><strong>one time</strong></em>.  If more than one transfer is required there will be a $20 charge per transfer.
  </p>
  <p class="text-center">
    <%= link_to "/parental-consent-form.pdf", class: "btn btn-default", target: "_blank" do %>
      <i class="fa fa-download"></i> Download the Parental Release &amp; Consent Form
    <% end %>
  </p>
</div>
