<% content_for(:title) do %>Testimonials<% end %>

<section class="title-bar">
  <h1>Hear what our customers have to say</h1>
</section>

<div class="container">
  <% @testimonials.each do |testimonial| %>
    <blockquote>
      <p><%= testimonial.body %></p>
      <cite title="Source Title"><%= testimonial.name %></cite>
    </blockquote>
  <% end %>
</div>
