<% content_for(:title) do %>Testimonials<% end %>

<section class="title-bar">
  <h1>Hear what our customers have to say</h1>
</section>

<div class="container">
  <blockquote>
    <p>I just wanted to say thank you for being a great teacher. We were on vacation in California last week and Kylar (5) got too close to the jetty at the beach. He started getting pulled out by the current to where he couldn't touch. I ran out as fast as I could after him but I wasn't in time before the waves were over his head. He started floating on his back when the waves went over his head until a surfer grabbed him for me. Thanks for giving him these skills! I watch him constantly and things like this still happen. Without the skills he learned at Aquatics Academy today could have ended horribly. I can never repay you for this! Best money I've ever spent!</p>
    <cite title="Source Title">Heidi Childs</cite>
  </blockquote>
  <% @testimonials.each do |testimonial| %>
    <blockquote>
      <p><%= testimonial.body %></p>
      <cite title="Source Title"><%= testimonial.name %></cite>
    </blockquote>
  <% end %>
</div>
