.admin-section {
  // border-top: 1px solid #ddd;
  //background-color: #efefef;
  //background-color: rgba(84, 187, 223, 0.15);
  // background-color: rgba(148, 235, 237, 1);

  .header-button {
    margin-top: 10px;
  }
}
