.img-xs {
  width: 20px;
  height: 20px;
}

.img-md {
  width: 150px;
  height: 150px;
}



.btn-box {
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 15px;
  width: 220px;
  height: 220px;
  float: left;
}
